<p id="notice"><%= notice %></p>

<h1>Lollies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lollies.each do |lolly| %>
      <tr>
        <td><%= lolly.name %></td>
        <td><%= lolly.description %></td>
        <td><%= lolly.price %></td>
        <td><%= link_to 'Show', lolly %></td>
        <td><%= link_to 'Edit', edit_lolly_path(lolly) %></td>
        <td><%= link_to 'Destroy', lolly, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lolly', new_lolly_path %>
